extends layout

block content

    .container
        h1 #{cliente.nombre} #{cliente.apellidos}
        p Direccion: #{cliente.direccion}
        p Email: #{cliente.email}
        p Edad: #{cliente.edad}
        p Fecha de inscripcion: #{cliente.fecha_inscripcion}